.RAFAY{
 margin-left: 50px;    
}
.rafay{
    margin-left: 50px;
    color: grey;
    
}
.image{
    height: 500px;
    width: 500px;
    /* margin-left: 700px; */
    float: right;
    margin-top: -200px;
}
.rafay1{
    height: 60px;
    width: 60px;
    margin-left:50px ;
    margin-top: 0px;
}
.rafay2{
    height: 60px;
    width: 60px;
    margin-left: 30px;

}
.rafay3{
    height: 60px;
    width: 110px; 
}
.rafay4{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 30px;
    border-radius: 10px;
    color: white;
    background-color: rgb(90, 0, 128);
}
.rafya5{
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 500px;
    width:  600px;
    margin-left: 30px;
    margin-top: 150px;

}
.rafaya{
    margin-left: 650px;
    margin-top: -350px;
    font-size: 50px;
}
.raf{
    margin-left: 650px;
    font-size: small;
    font-size: 20px;
    color: gray;
}
.fm{
    margin-left: 650px;
    font-size: small;
    font-size: 20px;
    color: gray;

}
.skill{
    margin-top: -200px;
    float: right;
}
.fem{
    margin-left: 650px;
    font-size: small;
    font-size: 20px;
    color: gray;
}
.fmu{
    margin-left: 650px;
    font-size: small;
    font-size: 20px;
    color: gray;
}
.boss{
    margin-left: 500px;
    margin-top: 100px;
    font-size: 60px;
}
.boss1{
    margin-left: 500px;
    font-size: small;
    font-size: 20px;
    color: gray;
}
.contect{
    margin-left: 550px;
    font-size: small;
    font-size: 30px;
    color: gray;
}
.big{
    margin-left: 500px;
    font-size: small;
    font-size: 30px;
    color: gray;
}
.rafay0s{
    height: 40px;
    width: 40px;
    margin-left: 550px;
}
.rafay2q{
    height: 40px;
    width: 40px;
    margin-left: 30px;
}
.rafayq{
    height: 40px;
    width: 70px;
    margin-left: 20px;
} 
.supra{
    margin-left: 470px;
    font-size: small;
    font-size: 30px;
    color: gray;
}
.skill{
    margin-right: 70px;
    font-size: 30px;
    margin-top: -150px;
}
.huda{
    height: 450px;
    width: 550px;
    margin-left: 350px;
    
}










